body {
  font-family: "Poppins", Verdana, sans-serif;
  background-color: #262329;
  color: white;
  padding: 20px 0 0 0;
  margin: 0;
}

footer {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
}

footer h2, h3 {
margin: 0;
}

.navbar-list {
  padding: 0px 30px;
}
.navbar-list li {
  list-style: none;
  color: white;
}

.navbar-list li:hover {
  list-style: none;
  color: #c2a36d;
  cursor: pointer;
  font-weight: 600;
}

.navbar-list ul {
  display: flex;
  padding: 0;
  margin: 0;
  gap: 20px;
}

.home-profile {
  padding: 50px 0px;
  display: flex;
  gap: 70px;
  justify-content: center;
  align-items: center;
}

.profile-picture {
  width: 200px;
  height: 200px;
  overflow: hidden;
}

.profile-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.name-profile h1 {
  margin-bottom: 0px;
  font-size: 32px;
}
.line {
  border-top: 3px solid #c2a36d;
  width: 30px;
}

.profile-details h2 {
  font-size: 24px;
  letter-spacing: 5px;
  margin-bottom: 5px;
}

.profile-details p {
  width: 400px;
}

.profile-item {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 80px 0;
}

.background-light {
  background-color: #2c2c33;
}
.profile-item h2 {
  font-size: 12px;
  color: #c2a36d;
  font-weight: 400;
  margin-bottom: 0px;
}

.profile-item h3 {
  font-weight: 600;
  font-size: 18px;
  margin: 0px;
}

.profile-item p {
  margin-top: 0px;
  margin-bottom: 10px;
}

.skills-item ul {
  display: flex;
  gap: 20px;
  padding: 30px 0;
}
.skills-item li {
  list-style: none;
}

.profile-item p {
  text-align: center;
  margin-top: 10px;
}

.items-style {
  background-color: #262329;
  width: 120px;
  height: 140px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-flow: column;
  border-radius: 0.75rem;
}

.items-style img {
  height: 55px;
  width: 55px;
}

.achievement-list {
  padding: 30px 0;
}

.achievement-style {
  display: flex;
}

.achievement-style p {
  margin-top: 0;
}

.achievement-list img {
  width: 300px;
  height: 200px;
  padding: 14px 8px;
}

.list-item {
  width: 316px;
  padding: 10px;
  
}

.contact-item {
  padding-bottom: 80px;
  padding-top: 30px;
}

.contact-style {
  background-color: #262329;
  width: 300px;
  border-radius: 0.75rem;
  padding: 5px;
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 10px;
}

.contact-style img {
  width: 20px;
  height: 20px;
  padding-right: 10px;
}

.copyright {
  display: flex;
  justify-content: center;
  background-color: #c2a36d;
  color: #262329;
  padding: 10px 0;
  width: 100%;
}